body{
    background-color: #f2e8cf;
}
.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 4vw;
    
}

#musica .icon{
    background-image: url("immagini/music.svg");
}

#film .icon{
    background-image: url("immagini/watching-movies.svg");
}

#libri .icon {
    background-image: url("immagini/bookshelf.svg");
}

#videogame .icon {
    background-image: url("immagini/smart-joystick.svg");
}

.categoria{
    border-radius: 50px;
}
.categoria:hover{
    box-shadow: #1b263b 5px 5px 5px 5px;
}
a{
    text-decoration: none;
    color: rgb(238, 238, 238);
}
#musica{
    background-color: #8cd7c0;
}
#libri{
    background-color: #d9c28d;
}
#film{
    background-color: #95a9d7; 
}
#videogame{
    background-color: #cdda97;
}