body {
  margin: 0px;
  padding: 0px;
}


h2 {
  text-align: center;
}

#scegliLaCategoria {
  padding: 0;
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.categoria {
  box-sizing: border-box;
  border: 1px solid black;

  margin: 2%;
  width: 46%;
  height: 42%;
}

#form{
  background-color: #f2e8cf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 50px;
  width: 700px;
  margin-top: 70px;
  box-shadow: #1b263b 10px 10px 10px 10px;
}
.risposte{
  margin-top: 10px;
  border-radius: 50px;
  max-width: 500px;
  margin-left: calc(50% - 250px);
  background-color: white;
  height: 60px;
  transition: all 0.3s;
  box-shadow: #1b263b 2px 2px 5px 0px;

}

label{
  margin: 10px;
}

.risposte:hover{
  box-shadow: #1b263b 5px 5px 5px 0px;

}


.home{
  font-size: 50px;
  margin-top: 20px;
  color: black;
  transition: all 0.3s;
  margin-left: -20vw;

}

.home:hover{
  color: white;
}



/*******************/

.verde {
  background-color: #6a994e;
  color: #F2FFEA;
  box-shadow: #1b263b 5px 7px 5px 0px;

}

.rosso{
  background-color: #bc4749;
  color: #ffd7d8;
  
}